name: Java Manual CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Compile Java Files
        run: |
          mkdir -p bin
          find . -name "*.java" > sources.txt
          javac -d bin @sources.txt

      # 4. Executa a classe que contém o método main de teste
      # Se houver um erro (System.exit(1)), o GitHub Actions marcará como falha
      - name: Run DesignPatternsTest
        run: |
          java -cp bin designpatterns.DesignPatternsTest
