name: Java Manual CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Debug - List Files
        run: ls -R

      - name: Compile and Run
        run: |
          mkdir -p bin
          find . -name "*.java" > sources.txt
          javac -d bin @sources.txt
          # Executa o teste
          java -cp bin designpatterns.DesignPatternsTest
